* {
    font-family: Georgia, serif;
}

body {
    margin-left: 31%;
    margin-right: 31%

}

header {
    text-align: center;
}

main {
    
}

figcaption {
    color: gray;
}

#box {
    background-color: beige;
    box-shadow: 5px 5px 5px grey
}

#logo {
    size: ;
}

#featured_in {
    color: orangered;
}

#focaccia {
    border-radius: 2%;
}