h1 {text-align: center;}

#tabellone {border: 5px solid #0c0b1d;
            }

.numDiv {display: inline-block;
        width: 5%;
        height: 50px;
        position: relative;
        border: 1px solid black;
        text-align: center;
        }

button {text-align: center;
        margin-left: 46%;
        margin-top: 20px;}

#rng {text-align: center;}

